<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs Checking In Again
    ================================================== -->
    <meta charset="utf-8">
    <title>BridgeLabz - Lab to nurture Engineering Talent and Ideas</title>
    <meta name="description" content="Lab to nurture Engineering Talent and Ideas">
    <meta name="author" content="Xtracut">
    <meta name="msvalidate.01" content="D554388548C5F28C3D813F879AF3B6A7" />
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/fwslider.css" media="all">
    <link rel="stylesheet" href="css/swipebox.css" media="all">
    <link rel="stylesheet" href="css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="css/linecons.css" media="all">
    <link rel="stylesheet" href="css/flexslider/main.css" media="all">
    <link href="flexslider.css" rel="stylesheet" />

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/fav.png">


    <!-- Scripts
    ================================================== -->
    <!-- jQuery Library -->
    <script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="js/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="js/css3-mediaqueries.js" type="text/javascript"></script>
    <script src="js/fwslider.js" type="text/javascript"></script>
    <script src="js/retina.js" type="text/javascript"></script>
    <script src="js/jquery.twitter.js" type="text/javascript"></script>
    <script src="js/parallax.js" type="text/javascript"></script>
    <script src="js/jquery.swipebox.min.js" type="text/javascript"></script>
    <script src="js/ios-orientationchange-fix.js" type="text/javascript"></script>
    <script src="js/jquery.scrollTo.js" type="text/javascript"></script>
    <script src="js/jquery.nav.js" type="text/javascript"></script>
    <script src="js/jquery.dropdown.js" type="text/javascript"></script>
    <script src="js/jquery.sticky.js" type="text/javascript"></script>
    <script src="js/jquery.quovolver.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script>
    <script src="jquery.flexslider-min.js"></script>



    <!-- jQuery library -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

    <script src="Scripts/jquery-1.9.1.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="Scripts/bootstrap.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.buy').parallax("50%", 0.4);
            $('.work').parallax("50%", 0.3);
            $('.testimonials').parallax("50%", 0.2);
            $('.newsletter').parallax("50%", 0.1);
        })
    </script>
    <style>
        #success {
            color: darkgreen;
        }
    </style>

</head>
<body ng-app="bridgeApp">

    <!-- SLIDER / Start
    =========================================== -->
    <div id="fwslider">
        <div class="slider_container">

            <!-- slide one -->
            <a href="#services">
                <div class="slide">
                    <img src="images/slide-bg-4.jpg">
                    <div class="slide_content">
                        <div class="slide_content_wrap">

                        </div>
                    </div>
                </div>
            </a>

            <!-- slide two -->
            <a href="#contact">
                <div class="slide">
                    <img src="images/slide-bg-3.jpg">
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                        </div>
                    </div>
                </div>
            </a>
            <!-- slide three -->
            <a href="#contact">
                <div class="slide">
                    <img src="images/slide-bg-2.jpg">
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <!-- slider navigation -->
        <div class="timers"></div>
        <div class="slidePrev"><span><i class="icon-chevron-left "></i></span></div>
        <div class="slideNext"><span><i class="icon-chevron-right "></i></span></div>

    </div>
    <!-- SLIDER / End
    =========================================== -->
    <!-- TOP HEADER BAR / Start
    =========================================== -->
    <header>
        <nav>
            <!-- nav menu -->
            <a class="current list-anchor" href="#fwslider">Home</a>
            <a href="#services" class="list-anchor">What We Do</a>
            <a href="#associates" class="list-anchor">Who We Work With</a>
            <a href="#about" class="list-anchor">Who We Are</a>
            <a href="#contact" class="list-anchor">Get in Touch</a>

            <a href="#" class="pull"><i class="icon-reorder"></i></a>
        </nav>
    </header>
    <!-- TOP HEADER BAR / End
    =========================================== -->
    <!-- SERVICES / Start
    =========================================== -->
    <section id="services">
        <container>
            <row>
                <div class="col-lg-12 col-md-12 col-sm-12 title">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <h2>What We Do</h2>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5" style="margin-top:45px;">
                        <p style="font-size:23px;"><b>We Nurture Fresh Engineers to become holistic Product Developer by working on live Startup Apps for Tech Companies to hire.</b></p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                </div>
            </row>
        </container>

        <div class="grey">

            <container>
                <row>

                    <div class="col-lg-12 float-auto">
                        <div class="col-lg-2 col-md-2 col-sm-2"></div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <figure class="service">

                                <div class="hex">
                                    <span aria-hidden="true" class="li_user"></span>
                                </div>
                                <figcaption>
                                    <h3>Fresh Engineer</h3>
                                    <p>Learn to hack, be a full stack developer with a job in hand and get to work on live products under the mentorship of Senior Engineers.</p>
                                </figcaption>

                            </figure>
                        </div>


                        <div class="col-lg-2 col-md-3 col-sm-3">
                            <figure class="service">
                                <div class="hex">
                                    <span aria-hidden="true" class="li_cloud"></span>
                                </div>
                                <figcaption>
                                    <h3>Tech Company</h3>
                                    <p>Get hardcore developers contributing from day one in the required technology stack without having your senior engineer to spend time to mentor the fresher. </p>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <figure class="service">
                                <div class="hex">
                                    <span aria-hidden="true" class="li_star"></span>
                                </div>
                                <figcaption>
                                    <h3>Start Ups</h3>
                                    <p>Have solid ideas which never gets developed. BridgeLabz with its unique proposition and its ecosystem makes it a possibility with the co-founding senior engineers.</p>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2"></div>

                    </div>
                </row>
            </container>
        </div>


        <container>
            <row>
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <figure class="promo clearfix">
                        <div class="col-lg-1 col-md-1 col-sm-1">

                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="eight columns">
                                <center>
                                    <img src="images/devices.png">
                                </center>



                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <figcaption class="eight columns">
                                <h3>KNOW THE ENGINEER PROGRAMME</h3>
                                <p>Sign up for this unique FREE programme which gives an exclusive chance to know and connect with the fresh engineers blossoming in BridgeLabz. </br>Interested?</p>
                                <a href="#contact" class="button">Contact Us</a>
                            </figcaption>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>

                    </figure>
                </div>

            </row>
        </container>
    </section>
    <section class="buy">

        <div class="white-overlay">
            <h4>Like to Partner with us?</h4>
            <p>Get hardcore developers contributing from day one without having to spend time to mentor the fresher</p>
            <a href="#contact" class="button">Join Us</a>
        </div>

    </section>
    <!-- SERVICES / End
    =========================================== -->
    <!-- Who we work with / Start
    =========================================== -->
    <section id="associates">

        <div class="container">
            <!--// What we do Section-->
            <container>
                <row>
                    <div class="col-lg-12 col-md-12 col-sm-12 title">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <h2>Who We Work With</h2>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5" style="margin-top:65px;">
                            <p style="font-size:25px;"><b>We are proud to be associated with these awesome tech companies.</b></p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                    </div>
                </row>
            </container>

            <div class="" style="margin-top:265px;margin-bottom: 50px">
                <div class="flexslider col-lg-12">
                    <ul class="slides">

                        <li>
                            <img src="images/partners/NewYatra-Logo.png" class="col-sm-1" style="width: 180px;margin-top: 5px;" />
                        </li>
                        <li>
                            <img src="images/partners/merucabs_logo.png" class="col-sm-1" style="height: 68px;width: 255px;margin-top: -4px;" />
                        </li>
                        <li>
                            <img src="images/partners/Intellect_logo.png" class="col-sm-1" style="margin-top: 5px;" />
                        </li>
                        <li>
                            <img src="images/partners/RBL_logo.png" class="col-sm-1" style="margin-top: -6px;" />
                        </li>
                        <li>
                            <img src="images/partners/suryoday_logo.png" class="col-sm-1" style="margin-top: 11px;" />
                        </li>
                        <li>
                            <img src="images/partners/Cybage-Logo.png" class="col-sm-1" style="margin-top: 23px;" />
                        </li>
                        <li>
                            <img src="images/partners/mindgate-logo-medium.png" class="logo-mg-lg" />
                        </li>
                        <li>
                            <img src="images/partners/Vayana_logo.png" class="col-sm-1" style="width: 241px;margin-top: 20px;" />
                        </li>
                        <li>
                            <img src="images/partners/hexagon-logo.png" class="col-sm-1" style="margin-top: 12px;" />
                        </li>
                        <li>
                            <img src="images/partners/finacus-logo.png" class="col-sm-1" style="margin-top:1px" />
                        </li>
                        <li>
                            <img src="images/partners/slonkit-logo.png" class="col-sm-1" style="margin-top:9px;" />
                        </li>

                        <li>
                            <img src="images/partners/location-guru-logo.png" class="col-sm-1" />
                        </li>
                        <li>
                            <img src="images/partners/i-exceed-logo.png" class="col-sm-1" style="margin-top: 9px;" />
                        </li>
                        <li>
                            <img src="images/partners/MockBank-logo.png" class="col-sm-1" style="margin-top: 16px;" />
                        </li>
                        <li>
                            <img src="images/partners/greyt-logo.png" class="col-sm-1" style="margin-top: 12px;" />
                        </li>
                    </ul>
                </div>
            </div>
            <div style="float:right;font-size:20px;color:cornflowerblue"> and many more ... </div>
        </div>


    </section>

    <!-- SERVICES / End
    =========================================== -->
    <!-- Promotion
    =========================================== -->
    <section class="buy">

        <div class="white-overlay">
            <h4>Are you ready to join BridgeLabz?</h4>
            <p>Just click the button and get to the next step!</p>
            <a href="#contact" class="button">Contact Us</a>
        </div>

    </section>

    <!-- ABOUT / Start
    =========================================== -->
    <section id="about">
        <container>
            <row>
                <div class="col-lg-12 title">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <h2>Who We Are</h2>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5" style="margin-top:45px;">
                        <p style="font-size:23px;"><b>We are a team of passionate people working on exciting ideas in a Lab nurturing Fresh Engineers and Startups.</b></p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                </div>
            </row>
        </container>




        <!-- Some Text -->
        <div class="grey">

            <container>
                <row>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-2 col-md-2 col-sm-2"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <article class="eight columns">
                                <h3>Mission</h3>
                                <p>
                                    BridgeLabz mission is to fulfill the aspiration of fresh engineers to find jobs, tech companies
                                    to have qualified fresh talent, senior engineer to co-found startups & seasoned professionals to develop ideas.
                                </p>
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <article class="eight columns">
                                <h3>Vision</h3>
                                <p>
                                    BridgeLabz aims to be a platform for seasoned professionals to develop their ideas with senior engineers who aspire to be co-founders.
                                    They in turn use the fresh engineers to develop the apps who becomes qualified developer for a job with tech companies.
                                </p>
                            </article>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2"></div>
                    </div>
                </row>
            </container>





            <div class="container">

            </div>

        </div>

        <!-- Team -->
        <div class="grey">
            <div class="container">

                <article>

                    <h5>Our Faces</h5>

                    <div>
                        <div class="col-lg-offset-1 col-sm-offset-1 col-md-offset-1">
                            <div class="col-sm-1 col-lg-1 col-md-1">
                            </div>
                            <div class="col-sm-12 col-lg-12 col-md-12">
                                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                                <div class="col-sm-3 col-lg-3 col-md-3">
                                    <figure class="picture prof-blk-1">
                                        <img src="images/ramesh_iyer.png">
                                        <figcaption style="height: 74px;">
                                            <span>Ramesh Iyer</span>
                                            <ul>
                                                <li><a href="https://in.linkedin.com/in/ramesh-iyer-128b5a3a"><i class="icon-linkedin"></i></a></li>
                                            </ul>
                                            <span class="mar-design">CEO & Cofounder &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-sm-3 col-lg-3 col-md-3">
                                    <figure class="picture prof-blk-1">
                                        <img src="images/face-two.jpg">
                                        <figcaption class="caption">
                                            <span>Narayan Mahadevan</span>
                                            <ul>
                                                <li><a href="https://in.linkedin.com/in/narayanprofile"><i class="icon-linkedin"></i></a></li>
                                            </ul>
                                            <span class="mar-design">Founder &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-sm-3 col-lg-3 col-md-3">
                                    <figure class="picture prof-blk-1">
                                        <img src="images/Vishal Choksi.jpg">
                                        <figcaption class="caption">
                                            <span>Vishal Choksi</span>
                                            <ul>
                                                <li><a href="https://www.linkedin.com/in/vishal-choksi-b2a6ba5"><i class="icon-linkedin"></i></a></li>
                                            </ul>
                                            <span class="mar-design">COO &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </figcaption>
                                    </figure>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--==============================Row 2==========================================-->

                    <div>
                        <div class="col-sm-1  col-lg-1 col-md-1 " style="margin-left:100px;">
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="col-sm-3 col-lg-3 col-md-3">
                                <figure class="picture  prof-blk-2">
                                    <img src="images/vidya.jpg">
                                    <figcaption class="caption">
                                        <span>Shreevidya Ramamurthy</span>
                                        <ul style="display:none">
                                            <li><a href=""><i class="icon-linkedin"></i></a></li>
                                        </ul>
                                        <span class="mar-design">Director - Finance &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </figcaption>
                                </figure>
                            </div>


                            <div class="col-sm-3 col-lg-3 col-md-3">
                                <figure class="picture  prof-blk-2">
                                    <img src="images/Siddhartha Dev.jpg">
                                    <figcaption class="caption">
                                        <span>Siddhartha Dev</span>
                                        <ul>
                                            <li><a href="https://www.linkedin.com/in/siddhartha-dev-97b84459"><i class="icon-linkedin"></i></a></li>
                                        </ul>
                                        <span class="mar-design">Business Head - South &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="col-sm-3 col-lg-3 col-md-3">
                                <figure class="picture  prof-blk-2">
                                    <img src="images/Vivek Srinivasan.jpg">
                                    <figcaption class="caption">
                                        <span>Vivek Srinivasan</span>
                                        <ul>
                                            <li><a href="https://www.linkedin.com/in/viveksrini/"><i class="icon-linkedin"></i></a></li>
                                        </ul>
                                        <span class="mar-design">Consultant & Advisor &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </figcaption>
                                </figure>

                            </div>
                            <div class="col-sm-3 col-lg-3 col-md-3">
                                <figure class="picture  prof-blk-2">
                                    <img src="images/Anirudh Sangubhotla.jpg">
                                    <figcaption class="caption-big">
                                        <span>Anirudh Sangubhotla</span>
                                        <ul>
                                            <li><a href="https://in.linkedin.com/in/anirudh-sangubhotla"><i class="icon-linkedin"></i></a></li>
                                        </ul>
                                        <span class="mar-design-2">Product Management &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                    </div>


                    <!--=========================================== Row 3 ==============================================-->

                    <div>
                        <div class="col-sm-1 col-lg-1 col-md-1">
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="col-sm-3 col-lg-3 col-md-3">
                                <figure class="picture  prof-blk-2">
                                    <img src="images/Sanjeev Nayer.jpg">
                                    <figcaption class="caption">
                                        <span>Sanjeev Nayer</span>
                                        <ul>
                                            <li><a href="https://in.linkedin.com/in/sanjeev-mohandas-nair-0731874"><i class="icon-linkedin"></i></a></li>
                                        </ul>
                                        <span class="mar-design">Business Head - Rest of India &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </figcaption>
                                </figure>
                            </div>


                            <div class="col-sm-3 col-lg-3 col-md-3">
                                <figure class="picture  prof-blk-2">
                                    <img src="images/veejay@bridge.jpg">
                                    <figcaption class="caption">
                                        <span>Veejay Basottia</span>
                                        <ul>
                                            <li><a href="https://in.linkedin.com/in/vijaybasotia"><i class="icon-linkedin"></i></a></li>
                                        </ul>
                                        <span class="mar-design">Head - HR  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="col-sm-3 col-lg-3 col-md-3">
                                <figure class="picture  prof-blk-2">
                                    <img src="images/Thangamani Durairaj.jpg">
                                    <figcaption class="caption">
                                        <span>Thangamani Durairaj</span>
                                        <ul>
                                            <li><a href="https://in.linkedin.com/in/thangamani-durairaj-2ab22bb3"><i class="icon-linkedin"></i></a></li>
                                        </ul>
                                        <span class="mar-design">Head - .NET Engineering &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </figcaption>
                                </figure>

                            </div>
                            <div class="col-sm-3 col-lg-3 col-md-3">
                                <figure class="picture  prof-blk-2">
                                    <img src="images/Dilip More.jpg">
                                    <figcaption class="caption-big">
                                        <span>Dilip More</span>
                                        <ul>
                                            <li><a href="https://www.linkedin.com/in/dilip-more-7347324"><i class="icon-linkedin"></i></a></li>
                                        </ul>
                                        <span class="mar-design-2"> Engineering - Head &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </article>


            </div>
        </div>

    </section>
    <!-- ABOUT / End
    =========================================== -->
    <!-- Work With Us
    =========================================== -->
    <section class="work">

        <article>
            <h4>Work With Us!</h4>
            <p>Would you like to be a part of BridgeLabs?</p>
            <a href="#contact" class="button green">Contact</a>
        </article>

    </section>

    <!-- Contact / Srart
    ================================================== -->
    <section id="contact">

        <container>
            <row>
                <div class="col-lg-12 col-md-12 col-sm-12 title">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <h2>Contact</h2>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5" style="margin-top:65px;">
                        <p style="font-size:25px;"><b>Do you have any questions? <br> Get in touch!</b></p>
                    </div>  
                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                </div>
            </row>
        </container>


        <div class="grey">
            <container>
                <row>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="contact-form" ng-controller="contactCntrl">
                            <div class="sixteen columns">
                                <div class="success-message">
                                    <p>Your message has been sent!</p>
                                </div>
                            </div>
                            <form class="clearfix" name="userForm" id="myForm1">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-5">

                                    <div class="field user">
                                        <input type="text" name="name" class="text" placeholder="Name" ng-model="name" required />
                                        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Name is required.</p>
                                    </div>

                                    <div class="field envelope">
                                        <input type="email" name="email" class="text" placeholder="Email" ng-model="email" required />
                                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                                    </div>

                                    <div class="field bulb">
                                        <input type="text" name="subject" class="text" placeholder="Subject" ng-model="subject" required>
                                    </div>

                                    <div class="field user">
                                        <input type="text" name="profile" class="text" ng-model="profile" placeholder="Your Profile" required />
                                    </div>

                                </div>
                                <div class="col-lg-5">

                                    <div class="field pen">
                                        <textarea name="message" class="text textarea" ng-model="message" placeholder="Message"></textarea>
                                    </div>

                                    <div class="field">
                                        <button id="send" class="send" ng-click="submit()" ng-disabled="userForm.$invalid">
                                            <span aria-hidden="true" class="li_paperplane"></span>Submit
                                        </button>

                                    </div>

                                </div>

                            </form><br>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                </row>
            </container>
        </div>










        <

    </section>
    <!-- Contact / End
    ================================================== -->
    <!-- Footer / Srart
    ================================================== -->
    <footer>
        <!-- Footer Contact Details -->
        <div class="contact-details">
            <img src="images/logo_w.png">
            <p>
                <i class="icon-map-marker"></i> BridgeLabz Solutions LLP,
                #801, 8th Floor, Sai Samarth Business Park, </br>Deonar Village Road, near Govandi Station East, Mumbai - 400088</br>
                <i class="icon-envelope-alt"></i>hello@bridgelabz.com</br>  <i class="icon-phone"></i>  Tel: +917045948949
            </p>
            <ul class="socials bot">
                <li><a href="https://twitter.com/BridgeLabz" style="margin-left:-22px;"><i class="icon-twitter"></i></a></li>
                <li><a href="https://m.facebook.com/bridgelabz"><i class="icon-facebook"></i></a></li>
                <li><a href="https://in.linkedin.com/company/bridgelabz-com" style="margin-left:27px"><i class="icon-linkedin"></i></a></li>
            </ul>
        </div>
    </footer>
    <!-- Footer / End
    ================================================== -->
    <!-- FlexSlider -->
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.easing.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                animationLoop: false,
                itemWidth: 310,
                itemMargin: 0,

            });
        });
        /*----------------------------------------------------*/
        /*	Contact Form
         /*----------------------------------------------------*/

        /* jQuery End */
    </script>
    <!-- End Document
    ================================================== -->
</body>

<script src="bower_components/angular/angular.min.js"></script>

<script src="app.js"></script>
<script src="controller/contactCntrl.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-68383799-1', 'auto');
    ga('send', 'pageview');

</script>

</html>
